name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      # Critical for tokio-serial on Linux
      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Check code
        run: cargo check --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Check Formatting
        run: cargo fmt -- --check